<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'push' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <a routerLink="/" style="text-decoration: none; color: inherit; display: block;" class="hover:bg-yellow-100">
  <mat-toolbar style="cursor: pointer;">
    Menu
  </mat-toolbar>
</a>
    <mat-nav-list>
      <a mat-list-item href="/login">Login</a>
      <a mat-list-item href="#">Setting</a>
      <a mat-list-item href="#">About Us</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: aquamarine;">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>EatQApp</span>
    </mat-toolbar>
    <!-- Add Content Here -->

     <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
