/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #e1f0a8;
background: linear-gradient(127deg,rgba(225, 240, 168, 1) 12%, rgba(131, 212, 51, 1) 75%);
 }

@import "tailwindcss";
